
.App {
  text-align: center;
}

/** stling for whole app header **/
.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  position: sticky;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding:20px;

}

